<bc-header>
	<bc-header-left logoName="bancolombia-horizontal"></bc-header-left>
	<bc-header-list>
		<bc-header-item
			icon="calculator"
			text="Herramientas"
			route="#"
			class="bc-reverse-d-lg-none"
		></bc-header-item>
		<bc-header-item icon="help" text="Ayuda" route="#"></bc-header-item>
		<bc-header-item
			icon="notification"
			text="Notificaciones"
			route="#"
		></bc-header-item>
		<bc-header-item
			icon="store"
			[text]="companyList[0].text"
			[subText]="companyList[0].subText"
			isDropdown="true"
			[dropdownList]="companyList"
			class="bc-reverse-d-lg-none"
			(optionSelected)="changeCompany($event)"
		></bc-header-item>
		<bc-header-item
			text="Username 2"
			itemType="user"
			userAvatar="https://picsum.photos/100/100"
		></bc-header-item>
		<bc-header-item
			icon="quit"
			text="Cerar sesión"
			itemType="logout"
			(click)="logout()"
		></bc-header-item>
	</bc-header-list>
</bc-header>

<div class="bc-container min-height bc-my-5">
	<div class="bc-row">
		<div class="bc-col-4">Una de tres columnas</div>
		<div class="bc-col-4">Una de tres columnas</div>
		<div class="bc-col-4">Una de tres columnas</div>
	</div>

	<div class="bc-row bc-my-5">
		<div class="bc-col-4">
			<bc-icon
				name="il-accept-terms"
				height="30px"
				aria-hidden="true"
				aria-label="prueba"
			></bc-icon>
		</div>
		<div class="bc-col-4">
			<bc-icon
				name="il-birthday"
				height="30px"
				aria-hidden="true"
				aria-label="prueba"
			></bc-icon>
		</div>

		<div class="bc-col-4">
			<bc-icon
				name="people"
				height="30px"
				aria-hidden="true"
				aria-label="prueba"
				size="md"
			></bc-icon>
			<bc-icon
				name="add-money"
				height="30px"
				aria-hidden="true"
				aria-label="prueba"
				size="md"
			></bc-icon>
		</div>
	</div>

	<div class="bc-row">
		<div class="bc-col-4">
			<button bc-button sizeButton="puffy">Primario</button>
		</div>
		<div class="bc-col-4">
			<button bc-button class="btn-def" typeButton="secondary">
				Secundario
			</button>
		</div>
		<div class="bc-col-4">
			<button bc-fab-button typeButton="primary" aria-label="Boton">
				<bc-icon size="xm" aria-hidden="true" aria-label="QR-scan">
					QR-scan
				</bc-icon>
			</button>
		</div>
	</div>

	<div class="bc-row bc-mt-5">
		<div class="bc-col-4">
			<bc-form-field>
				<em>cloud</em>
				<input
					id="234"
					bc-input
					state="default"
					type="text"
					value=""
					required
				/>
				<em>times</em>
				<label for="234">Campo 1</label>
			</bc-form-field>
		</div>
		<div class="bc-col-4"></div>
		<div class="bc-col-4"></div>
	</div>
	<div class="bc-row">
		<div class="bc-col-12">
			<bc-tabs-group
				#myTab
				(changeState)="onChangeTab($event)"
				[orientation]="orientation"
			>
				<bc-tab [labelTemplate]="tab1">
					<ng-template #tab1>
						<div class="row">
							<div>
								<bc-icon
									size="sm"
									aria-hidden="true"
									aria-label="Tab 1"
									>cog</bc-icon
								>
							</div>
							<div>
								<p>Inicial</p>
							</div>
						</div>
					</ng-template>
					<bc-icon
						bc-logo
						logoName="logo_nequi"
						family="productos"
						size="xs"
						aria-hidden="true"
						aria-label="prueba"
					>
					</bc-icon>
					<bc-icon
						bc-logo
						logoName="isotipo"
						family="Bancolombia"
						size="xs"
						aria-hidden="true"
						aria-label="prueba"
					>
					</bc-icon>
				</bc-tab>
				<bc-tab [labelTemplate]="tab2">
					<ng-template #tab2>
						<bc-icon size="sm" aria-hidden="true" aria-label="Tab 2"
							>heart</bc-icon
						>
					</ng-template>
					<bc-loader speedLoader="2" sizeLoader="Puffy"> </bc-loader>
				</bc-tab>
				<bc-tab label="Tab" [labelTemplate]="tab3">
					<ng-template #tab3>
						<div>Tab</div>
					</ng-template>
					<button bc-button-icon>
						<bc-icon
							size="lg"
							aria-hidden="true"
							aria-label="Tab 2"
						>
							comment
						</bc-icon>
					</button>
				</bc-tab>
				<bc-tab [labelTemplate]="tab4">
					<ng-template #tab4>
						<p>Other extra large tab</p>
					</ng-template>
					<div class="row">
						<div class="col-12">
							<bc-notification
								class="
									space_2_top
									col-xs-6 col-sm-6 col-lg-5 col-xl-4
								"
								title="Título"
								textDesc="Este cuadro muestra la cantidad máxima de texto "
								textError="Código error: 724"
								textBtn="Acción"
								typenotification="error"
							>
							</bc-notification>
						</div>
					</div>
				</bc-tab>
				<bc-tab [labelTemplate]="tab5">
					<ng-template #tab5>
						<div>Other ultra extra large tab</div>
					</ng-template>

					<div class="col-sm-6 offset-sm-3 offset-md-4 offset-xl-5">
						<img
							bc-avatar
							typeAvatar="Puffy"
							src=""
							alt=""
							class="child"
						/>
						<img bc-avatar src="" alt="" />
						<img bc-avatar typeAvatar="Small" src="" alt="" />
					</div>
				</bc-tab>
			</bc-tabs-group>
		</div>
	</div>
	<div class="bc-flex bc-justify-content-space-between row-border bc-my-5">
		<div class="example__col">item 1</div>
		<div class="example__col">item 2</div>
		<div class="example__col">item 3</div>
	</div>
</div>

<bc-footer
	[topTextContent]="[
{
	title: { text: 'Información de seguridad', onlyStyleText: true, link:'http://google.com', isSelf: true }
},
{
	title: { text: 'Contáctenos', onlyStyleText: true, link:'http://google.com' }
},
{
	title: { text: 'Visitanos', onlyStyleText: true, link:'http://google.com' }
}]
"
	[bottomTextLeftContent]="['Copyright © 2020 Grupo Bancolombia.']"
	[bottomTextRighContent]="['Dirección IP 190.144.71.250','Última visita Jueves 31 de Julio de 2019 10:06 a.m']"
>
</bc-footer>
